<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>cottage-directions.md</key>
			<dict>
				<key>lastModification</key>
				<real>521855999.42532498</real>
				<key>version</key>
				<dict>
					<key>425b4a0c2f021532892c166c412a5c171e42e31ca738fe691fd539e6dc5969ca</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>directions-venues.md</key>
			<dict>
				<key>lastModification</key>
				<real>521856002.06453598</real>
				<key>version</key>
				<dict>
					<key>425b4a0c2f021532892c166c412a5c171e42e31ca738fe691fd539e6dc5969ca</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>home.md</key>
			<dict>
				<key>lastModification</key>
				<real>521853937.060794</real>
				<key>version</key>
				<dict>
					<key>425b4a0c2f021532892c166c412a5c171e42e31ca738fe691fd539e6dc5969ca</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>schedule.md</key>
			<dict>
				<key>lastModification</key>
				<real>521856005.39707702</real>
				<key>version</key>
				<dict>
					<key>425b4a0c2f021532892c166c412a5c171e42e31ca738fe691fd539e6dc5969ca</key>
					<integer>19</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>home.md</string>
		</array>
		<array>
			<string>cottage-directions.md</string>
		</array>
		<array>
			<string>directions-venues.md</string>
		</array>
		<array>
			<string>schedule.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>425b4a0c2f021532892c166c412a5c171e42e31ca738fe691fd539e6dc5969ca</key>
			<integer>20</integer>
		</dict>
	</dict>
</dict>
</plist>
